name: iOS Build
on: [push, pull_request]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          brew install autoconf automake libtool pkg-config wget || true
          python3 -m pip install --upgrade pip
          # Добавляем packaging, jinja2 и six — они критичны для тулчейна iOS
          python3 -m pip install Cython==0.29.33 buildozer kivy-ios packaging jinja2 six

      - name: Build IPA
        run: |
          # Запускаем сборку
          yes | python3 -m buildozer ios debug
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: TigerBot-IPA
          path: bin/*.ipa
